
  public async {{function_name}}({{function_parameters}}): Promise<{{classname}}.Output> {
    if (!this.axios_instance) {
      throw new Error(`Axios have not initialized yet`)
    }
    return (await this.axios_instance?.get<{{classname}}.Output>({{classname}}.Endpoint.url, {{request_options}}))!.data;
  }
